.characterDetailsRow {  
    margin-top: 50px;

    .characterImage {
        border-radius: 16px;
        width: 300px;
    }

    .collapseContainer {
        width: 400px;
        height: 200px;
        .detailsCollapse {
            font-size: 25px;

            :global {
                .ant-collapse-header {
                    font-weight: bold;
                    color: white;
                }
                .ant-collapse-content {
                    color: white;
                }
            }
        }
    }



    .panel {
        color: white;
    }

    @media (max-width: 700px) {
        .characterImage {
            width: 200px;
        }
        .collapseContainer {
            width: 250px;
        }
    }
}
