.characterDetailsContainer {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.3);
    max-width: 800px;
    padding: 40px 0;
    border-radius: 16px;


    .characterImage {
        border-radius: 16px;
        width: 300px;
        margin: auto 30px;
    }

    .collapseContainer {
        width: 400px;
        .detailsCollapse {
            font-size: 25px;

            :global {
                .ant-collapse-header {
                    font-weight: bold;
                    color: white;
                }
                .ant-collapse-content {
                    color: white;
                }
            }
        }
    }



    .panel {
        color: white;
    }
}

@media (max-width: 700px) {
    .characterDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        .characterImage {
            width: 200px;
        }
        .collapseContainer {
            width: 300px;
        }
    }
   
}