
body {
  background-color: #312E81 !important;
  font-family: 'Quicksand', sans-serif;
  background: url('../../public/background.png') center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}