.siderMenuCustom {
  height: 100vh;
  overflow: auto;
}

.app {
  height: 100%;
}

.header {
  padding: 0 16px 0 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
}

.contentContainer {
  margin: 4px 4px 2px 4px;
  padding: 4px 16px 16px;
  background: #fff;
  overflow: auto;
  height: 85vh;
  &::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
}
