.menuButton {
    padding: 0 !important;
    font-size: medium;
}
.menuDivider {
    padding: 0 !important;
    margin: 0 !important;
}
.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  transition: all 0.3s;
  overflow: hidden;
  text-align: center;
  opacity: 1;
  margin-bottom: 4px;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
  }
}